head{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
header{
    background-color: #EAC926;
}

ul{
    padding-left: 0%;
}
.titles{
    font-size: 24px;
}
.prices{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
}
.descriptions{
    font-size: 16px;
    display: none;
}
div.burger-menu{
    text-align: center;
    margin: auto;
}

.burger-menu{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

footer{
    text-align: center;
    line-height: 15px;
}
.aling-iconos{
    size: 2em;
    margin-bottom: 10px;
    color: #0044AA;;
}
header p{
    text-align: center;
}
*{
    box-sizing: border-box;
}

main{
    margin: auto;
    width: 90vw;
    display: block;
}
main article{
    margin-top: 10px;
    padding: 15px 15px;
    width: 100%;
}
.description-article{
    border-top: 1px solid #ebebeb;
}
nav{
    display: none;
}


@media (min-width:361px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav{
        display: block;
    }
    .descriptions{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}

@media (min-width:769px) {
    
}



